<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: bold;
        height: 100vh;
        overflow: hidden;
        font-size: 30px;
        padding: 20px 20px 20px;
      }
    </style>
  </head>
  <body>
    This is very secret html!
  </body>
</html>
